body {
    margin: 0;
    overflow: hidden;
    background-color: #3B337E;
    font-family: "Source Sans Pro", sans-serif;
    height: 100vh;
    width: 100%;
}

.middle {
  text-transform: capitalize !important;
}

.background {
    width: 800px;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: -2;
    margin-left: -150px;
}

.card {
    background-color: #1C1C25;
    padding: 15px;
    width: 30%;
     border: 1px solid #242529;
    border-radius: 10px;
     margin: auto;
    margin-top: 120px;
    margin-left: 170px;
}

.top h1 {
    margin-bottom: 1px;
    color: #c5c5c5;
    font-size: 25px;
}
.top p {
    margin-top: 3px;
    color: #c5c5c5;
    font-size: 13px;
}

.top a {
    color: #c5c5c5;
}

.card-content {
    padding: 20px;
}

input {
    background-color: #12131A;
    border: none;
    height: 30px;
    border-radius: 5px;
    width: 96.5%;
    color: #c5c5c5;
    padding-left: 10px;
    padding-right: 10px;
  }
  
button {
    cursor: pointer;
    height: 25px;
    width: 100%;
    border-radius: 3px;
    border: none;
    color: #d6d6d6;
    font-weight: 600 !important;
    background: #6C5CE7;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    padding: 0 15px;
    text-transform: uppercase;
    margin-top: 10px;
}

.register p {
    color: #A7A7A7 !important;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.privacy p {
    font-size: 8px;
    text-align: center;
    width: 100%;
}

.privacy input {
    width: 4%;
}

.privacy {
    display: flex;
}

.header-container {
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
  }

h1 {
    color: #d6d6d6;
}

h2 {
    color: #d6d6d6;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 2px;
    position: fixed; 
    top: 0;
    text-transform: uppercase;
    width: 80%;
  }

  nav .item a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #d6d6d6 !important;
  }

  .menu {
    display: none;
    /* this is for responsive layout later when menu turns into hamburger */
  }



  body {
    margin: 40px;
    background: #12131a;
    font-family: "Source Sans Pro", sans-serif;
  }
  
  /* header */
  .header-container {
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .width-def {
    width: 80%;
  }
  .main-title {
    font-size: 20px;
    color: #d6d6d6 !important;
  }
  
/* this is for responsive layout later when menu turns into hamburger */
  /* .menu {
    display: none;
  } */
  
  .left .logo,
  .menu {
    width: 60px;
    margin-top: 10px;
  }
  
  .right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .item {
    float: left;
    font-size: 10px;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 2px;
    position: fixed; 
    top: 0;
    text-transform: uppercase;
    width: 80%;
  }
  
  nav .item a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #d6d6d6 !important;
  }

  .item {
    float: left;
    font-size: 13.5px;
  }

  
  