/* Basic template taken from https://github.com/jkatrina22 */

body {
  margin: 40px;
  background: #12131a;
  font-family: "Source Sans Pro", sans-serif;
  color: #d6d6d6;
}

.divider {
  border-bottom: 1px solid #d6d6d6;
  width: 80%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 120px;
}

.title {
  text-align: center;
}

.middle {
  text-transform: capitalize !important;
}

h1 {
  color: #d6d6d6;
}

h2 {
  color: #d6d6d6;
}

.menu {
  display: none;
  /* this is for responsive layout later when menu turns into hamburger */
}



/* HEADER */
.header-container {
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  margin-bottom: 10px;
}

.width-def {
  width: 80%;
}

.right {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.item {
  float: left;
  font-size: 13.5px;
}

  .instructions {
    width: 80%;
    margin-left: 120px;
    margin-top: 30px;
  }

  .instructions p {
    font-size: 13.5px;
  }

  .instructions li {
    font-size: 13.5px;
    margin-top: 10px;
  }

  .list {
    margin-left: -27px;
  }
  
  .main-description {
    width: 100%;
    color: #c5c5c5;
    font-size: 13.5px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  h3 {
    font-size: 25px;
  }

  /* LEADERBOARD */
  .username {
    text-transform: capitalize;
  }

  #leaderboard-title {
    margin-left: 110px;
  }

  #scores {
    border-bottom: 0.5px solid #202231;
    border-top: 1px solid #202231;
    border-right: 1px solid #202231;
    border-left: 1px solid #202231;
    width: 70vw;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 110px;
    padding-left: 20px;
  }

  .card-content {
    background-color: #202231;
  }

  table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }

  th {
    font-size: 30px;
    margin-bottom: 50px;
    padding: 10px;
    background-color: #12131a;
  }

  td {
    font-size: 20px;
    margin-top: 50px;
    padding: 10px;
  }

  tr:nth-child(odd) {
    background-color: #12131a;
  }

/* Gold */
tr:nth-child(2) {
  background: #FCC201;
  color: #12131a;
}
/* Silver */
tr:nth-child(3) {
  background: #C4CACE;
  color: #12131a;
}
/* Bronze */
tr:nth-child(4) {
  background: #B08D57;
  color: #12131a;
}

/* GAMEPAGE */
#genreLabel {
  margin-top: 40px;
  margin-left: 110px;
  padding-top: 40px;
  font-size: 30px;
  text-align: center;
}

#genres {
  margin-left: 20px;
  margin-top: 40px;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* #submitButton {
  
} */

#guessButton {
  margin-right: 20px;
}

/* #skipButton {

} */

#prompt {
  width: 300px;
  resize: none;
}

.content {
  width: 80%;
  text-align: center;
  padding-top: 20vh;
}

.first {
  width: 80%;
  height: 80%;
  text-align: center;
  /* padding-top: 5vh; */
  margin: auto;
}

#root {
  margin-left: 110px;
  /* padding-top: -300px; */
}

#artist {
  font-size: 20px;
}

#songName {
  font-size: 20px;
}

.main-title {
  font-size: 30px;
  color: #d6d6d6 !important;
}

.left .logo,
.menu {
  width: 60px;
  margin-top: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 2px;
  position: fixed; 
  top: 0;
  text-transform: uppercase;
  width: 80%;
}

nav .item a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #d6d6d6 !important;
}